* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
	margin: 10;
}

.header{
	display: flex;
	width: 100%;
	margin: 5px;
}

.header__row {
	width: 100%;
	height: 80px;
	margin: 5px;	
}

#nav {
	padding: 10px 0;
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.back_top{
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  padding: 0;
}

nav ul {
	display: inline-flex;
	list-style-type: none;
	margin: 0px;
	padding: 10px;
}

a {
	padding: 10px;
	color: orangered;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 15px;
}

a:hover {
	background-color: green;
	color: white;

}

a.active {
	background-color: blue;
	color: white;
}

#banner {
  width: 100%;
  max-height: 202px;
  border: 1px solid red;
  border-radius: 5px;  
  margin: 0;      
  padding: 0;
  overflow: hidden;
}

#banner img {
  width: 100%;
  height: 200px;
  display: block;
  margin: 0;      
  padding: 0;
}

section {
	padding-bottom: 50px;
}

h1 {
	text-align: center;
	font-family: Cursive, sans-serif;
}

h2 {
	text-align: center;
	font-family: Papyrus, sans-serif;
}

h2, p, li {
	color: white;
}

h3 {
	padding-left: 30px;
}

p {
	font-family: "Georgia", sans-serif;
	line-height: 1.3;
	text-indent: 20px;
}

.content {
	background-color: #B22222;
	margin: 50px 15px;
	padding: 20px;
}

.content img {
	display: inline-flex;

}

.content ul {
	display: block;
	padding-left: 40px;
	font-family: Apple Chancery, sans-serif;
}

.content li {
	display: list-item;
}

.content p {
	text-align: justify;

}

.content p:first-of-type::first-letter {
	font-size: 2em;
	font-weight: bold;
	color: #228B22;
	font-family: 'IM Fell English SC', serif;
	line-height: 1;
}

img {
  width: 45%;
  height: 400px;
  padding-left: 5px;
  padding-right: 5px;
}

.video_wrapper, .image_wrapper {
	display: flex;
	justify-content: center;
}

.video_wrapper iframe {
	max-width: 100%;
}

footer {
	padding: 30px 15px;
}

#copyright {
	text-align: center;
	font-size: 14px;
	color: #333;
	margin-top: 20px;
}

@media screen and (max-width: 768px) {
	nav ul {
		flex-direction: column;
		align-items: center;
	}

	img {
		width: 100%;
		height: auto;
	}

	.content {
		margin: 20px 10px;
	}

	nav a {
		padding: 2px;
		color: orangered;
		font-size: 12px;
		font-family: Arial, Helvetica, sans-serif;
		border-radius: 5px;
		margin: 10px;
	}

	.back_top{
	  display: block;
	  width: 200px;
	  height: 50px;
	  margin: 0 auto;
	  text-align: center;
	  line-height: 50px;
	  padding: 0;
	}

	#banner {
		margin-top: 40px;
	}
}
.snow {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;

  background-image:
    radial-gradient(6px 6px at 40px 50px, rgba(255,255,255,.95) 50%, transparent 51%),
    radial-gradient(5px 5px at 80px 120px, rgba(255,255,255,.85) 50%, transparent 51%),
    radial-gradient(4px 4px at 150px 90px, rgba(255,255,255,.8) 50%, transparent 51%);

  background-size: 180px 180px, 240px 240px, 320px 320px;
  background-repeat: repeat;

   animation: snowFall 30s linear infinite;
}

@keyframes snowFall {
  from { transform: translateY(-200px); }
  to   { transform: translateY(200px); }
}

@media (max-width: 600px) {
  .snow { animation-duration: 14s; }
}
